<nav class="main-nav">
  <div class="logo"><a href='/'><img src="/img/envision-logo.png" alt="envision-logo"></a></div>
  <ul class="nav-ul">
    <li><a href='/envi/captureImage'>Capture Image</a></li>
    <li><a href='/envi/all'>Memories</a></li>
    <li><a href='/auth/register'>Register</a></li>
    <li><a href='/auth/login'>Login</a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>



