<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class="welcome">
    <a class="home-register" href='/auth/register'>Register</a></li>
    <a class="home-login" href='/auth/login'>Login</a>
</div>
<% include ../partials/end %>